{% extends 'base.html' %}

{% block meta %}
<title>Create Task Form</title>
{% endblock meta %}

{% block content %}  

<div class = "min-h-screen flex flex-col items-center justify-center sm:min-h-screen">
    <div class = "create-task bg-[#f6dB00] rounded-2xl shadow-lg max-w-[40%] p-5">
        
        <h1 class = "text-6xl font-extrabold  text-center mb-6">Create Task Form</h1>  

            <form method="POST" >  
                {% csrf_token %}  
                <table style="margin-left:auto;margin-right:auto;" class="content-center">  
                    <tr>
                        <td class = "text-center">Task Name</td>
                    </tr> 
                    <tr>  
                        <td><input type="text" name="task_name" placeholder="Enter your Task Name" required class="form-control rounded-3xl p-1 w-full" text-align="center"></td>  
                    </tr>  
                    <tr>
                        <td class = "text-center">Task description</td>
                    </tr> 
                    <tr>  
                        <td><input type="text" name="task_description" placeholder="Enter your Task Description" required class="form-control rounded-3xl p-1 w-full" text-align="center"></td>  
                    </tr>  
                    <tr>
                        <td><input class="btn login_btn mt-5 mb-5 p-1 bg-black rounded-lg w-full text-white font-bold" type="submit" name="create-task" value="Create"></td>
                    </tr>
                </table>  
            </form>

    </div>  
</div>
{% endblock content %}